<h1>Listing city_articles</h1>

<table>
  <tr>
    <th>Article</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @city_articles.each do |city_article| %>
  <tr>
    <td><%= city_article.article_id %></td>
    <td><%= city_article.city_id %></td>
    <td><%= link_to 'Show', city_article %></td>
    <td><%= link_to 'Edit', edit_city_article_path(city_article) %></td>
    <td><%= link_to 'Destroy', city_article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City article', new_city_article_path %>
